# Hoist these dependencies for workflow tools (linter, typechecker, etc.)
public-hoist-pattern[]=*prettier*

# Hoist these dependencies because development builds in .docusaurus/
# assume they will be top-level for hot-reloading
# TODO: re-evaluate whether some of these can become genuine top-level
# dependencies if we end up making custom React components
public-hoist-pattern[]=react
public-hoist-pattern[]=@mdx-js/react