@font-face {
  font-family: "whiterabbit-webfont";
  src:
    url("../../assets/whiterabbit-webfont.ttf") format("truetype"),
    url("../../assets/whiterabbit-webfont.woff") format("woff"),
    url("../../assets/whiterabbit-webfont.woff2") format("woff2");
}

html[data-theme="dark"] {
  --ifm-color-primary: #7ab2f4;
  --ifm-color-primary-dark: #589ef1;
  --ifm-color-primary-darker: #4795f0;
  --ifm-color-primary-darkest: #1b7bec;
  --ifm-color-primary-light: #9cc6f7;
  --ifm-color-primary-lighter: #adcff8;
  --ifm-color-primary-lightest: #dfedfc;
  --ifm-background-color: #101215;

  --ifm-color-info-contrast-background: rgb(25 60 71 / 50%);
  --ifm-color-warning-contrast-background: rgb(77 56 0 / 50%);
  --ifm-color-danger-contrast-background: rgb(75 17 19 / 50%);

  --ifm-font-family-base: "whiterabbit-webfont";
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-footer-background-color: var(--ifm-background-color);
  --ifm-dropdown-background-color: var(--ifm-background-color);
  --ifm-card-background-color: var(--ifm-background-color);

  --ifm-heading-color: var(--ifm-color-primary-lighter);
  --ifm-color-content: var(--ifm-color-primary);
  --ifm-link-color: var(--ifm-color-primary-lightest);
  --ifm-menu-color: var(--ifm-color-primary);
  --ifm-toc-link-color: var(--ifm-color-primary);

  --ifm-breadcrumb-border-radius: 0;
  --ifm-global-radius: 0;
}

html[data-a11y="accessible"] {
  --ifm-color-primary: #dce0e6;
  --ifm-color-primary-dark: #589ef1;
  --ifm-color-primary-darker: #4795f0;
  --ifm-color-primary-darkest: #1b7bec;
  --ifm-color-primary-light: #ccdff5;
  --ifm-color-primary-lighter: #8ba2be;
  --ifm-color-primary-lightest: #dee1e4;
  --ifm-background-color: #101215;

  --ifm-color-info-contrast-background: rgb(25 60 71 / 50%);
  --ifm-color-warning-contrast-background: rgb(77 56 0 / 50%);
  --ifm-color-danger-contrast-background: rgb(75 17 19 / 50%);

  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-footer-background-color: var(--ifm-background-color);
  --ifm-dropdown-background-color: var(--ifm-background-color);
  --ifm-card-background-color: var(--ifm-background-color);

  --ifm-heading-color: var(--ifm-color-primary-lighter);
  --ifm-color-content: var(--ifm-color-primary);
  --ifm-link-color: var(--ifm-color-primary-darkest);
  --ifm-menu-color: var(--ifm-color-primary);
  --ifm-toc-link-color: var(--ifm-color-primary);

  --ifm-breadcrumb-border-radius: 0;
  --ifm-global-radius: 0;
}

.menu__link,
.menu__list-item-collapsible,
.dropdown__link {
  border-radius: 0;
}

.pagination-nav__link--next .pagination-nav__label::after {
  content: " →";
}

.pagination-nav__link--prev .pagination-nav__label::before {
  content: "← ";
}

a.wikilink-new {
  color: var(--ifm-color-danger);
}

.header-a11y::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.header-a11y:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.main-wrapper {
  background-image: repeating-linear-gradient(
    #0e0e0e,
    #0e0e0e 2px,
    #101215 2px,
    #101215 4px
  );
  background-size: 100% 4px;
}

.color-tag[data-tag="a"] {
  color: #000000;
}
.color-tag[data-tag="b"] {
  color: #3f3f3f;
}
.color-tag[data-tag="c"] {
  color: #676767;
}
.color-tag[data-tag="d"] {
  color: #7d0000;
}
.color-tag[data-tag="e"] {
  color: #8e3434;
}
.color-tag[data-tag="f"] {
  color: #a34f00;
}
.color-tag[data-tag="g"] {
  color: #725437;
}
.color-tag[data-tag="h"] {
  color: #a88600;
}
.color-tag[data-tag="i"] {
  color: #b2934a;
}
.color-tag[data-tag="j"] {
  color: #939500;
}
.color-tag[data-tag="k"] {
  color: #495225;
}
.color-tag[data-tag="l"] {
  color: #299400;
}
.color-tag[data-tag="m"] {
  color: #23381b;
}
.color-tag[data-tag="n"] {
  color: #00535b;
}
.color-tag[data-tag="o"] {
  color: #324a4c;
}
.color-tag[data-tag="p"] {
  color: #0073a6;
}
.color-tag[data-tag="q"] {
  color: #385a6c;
}
.color-tag[data-tag="r"] {
  color: #010067;
}
.color-tag[data-tag="s"] {
  color: #507aa1;
}
.color-tag[data-tag="t"] {
  color: #601c81;
}
.color-tag[data-tag="u"] {
  color: #43314c;
}
.color-tag[data-tag="v"] {
  color: #8c0069;
}
.color-tag[data-tag="w"] {
  color: #973984;
}
.color-tag[data-tag="x"] {
  color: #880024;
}
.color-tag[data-tag="y"] {
  color: #762e4a;
}
.color-tag[data-tag="z"] {
  color: #101215;
}
.color-tag[data-tag="A"],
.color-tag[data-tag="1"],
.color-cli {
  color: #ffffff;
}
.color-tag[data-tag="B"],
.color-gc-text {
  color: #cacaca;
}
.color-tag[data-tag="C"],
.color-tag[data-tag="0"],
.color-user,
.color-gc-end {
  color: #9b9b9b;
}
.color-tag[data-tag="D"],
.color-gc-q {
  color: #ff0000;
}
.color-tag[data-tag="E"] {
  color: #ff8383;
}
.color-tag[data-tag="F"],
.color-trust,
.color-tag[data-tag="5"],
.color-tag[data-tag="6"],
.color-tag[data-tag="7"],
.color-tag[data-tag="8"],
.color-tag[data-tag="9"] {
  color: #ff8000;
}
.color-tag[data-tag="G"] {
  color: #f3aa6f;
}
.color-tag[data-tag="H"] {
  color: #fbc803;
}
.color-tag[data-tag="I"] {
  color: #ffd863;
}
.color-tag[data-tag="J"],
.color-gc-b {
  color: #fff404;
}
.color-tag[data-tag="K"] {
  color: #f3f998;
}
.color-tag[data-tag="L"],
.color-tag[data-tag="2"],
.color-script,
.color-gc-m {
  color: #1eff00;
}
.color-tag[data-tag="M"] {
  color: #b3ff9b;
}
.color-tag[data-tag="N"],
.color-gc-k,
.color-key {
  color: #00ffff;
}
.color-tag[data-tag="O"] {
  color: #8fe6ff;
}
.color-tag[data-tag="P"],
.color-tag[data-tag="3"] {
  color: #0070dd;
}
.color-tag[data-tag="Q"] {
  color: #a4e3ff;
}
.color-tag[data-tag="R"] {
  color: #0000ff;
}
.color-tag[data-tag="S"] {
  color: #7ab2f4;
}
.color-tag[data-tag="T"],
.color-tag[data-tag="4"] {
  color: #b035ee;
}
.color-tag[data-tag="U"] {
  color: #e6c4ff;
}
.color-tag[data-tag="V"],
.color-gc-t,
.color-value {
  color: #ff00ec;
}
.color-tag[data-tag="W"] {
  color: #ff96e0;
}
.color-tag[data-tag="X"] {
  color: #ff0070;
}
.color-tag[data-tag="Y"] {
  color: #ff6a98;
}
.color-tag[data-tag="Z"] {
  color: #0c112b;
}
